{{title}}

<ul>
<li><a routerLink="/home" routerLinkActivated="active">Home</a></li>
<li><a routerLink="/learnObservables" routerLinkActivated="active">Learn Observables</a></li>
<li><a routerLink="/heroView" routerLinkActivated="active">Hero View</a></li>
<li><a routerLink="/crisisCenter" routerLinkActivated="active">Crisis Center</a></li>
<li><a routerLink="/reactiveForms" routerLinkActivated="active">Reactive Forms</a></li>
<li><a routerLink="/jqueryEx" routerLinkActivated="active">Jquery Examples</a></li>
</ul>

<router-outlet></router-outlet>